/* 
    Created on : Sep 14, 2014, 2:20:03 AM
    Author     : Raoul
*/
#title {
    -fx-font-size: 60pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.8) , 8, 0.0 , 0 , 2 );
    
    
}
//#title {
 //   -fx-font-size: 40pt;
   // -fx-font-weight: bold;
//    -fx-text-alignment: center;
  //  -fx-text-fill: rgb(230,230,255);
    //-fx-border-color: whitesmoke;
   // -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 2 );
    
//}
#planetInfoLabel {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: rgb(220,220,255);
  //  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 5, 0.0 , 0 , 2 );
    
}

.planetInfoLabel{
   // -fx-background-color: rgb(220,220,220);
    -fx-text-weight: bold;
 //   -fx-text-size: 30pt;
    -fx-text-fill: rgb(220,220,255);
}

.background {
    //-fx-background-color: #1d1d1d;
    -fx-background-image: url("/img/spaceTraderBackground.png");
    -fx-background-size: cover;
    //-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.welcomeBtn {
    -fx-padding: 5 22 5 22;   
    //-fx-border-color: #e2e2e2;
   // -fx-border-width: 0 0 1 0;
   // -fx-background-color: #1d1d1d;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(rgb(10,54,90), rgb(3,19,34));
    -fx-text-fill: #ffffff;
    -fx-font-size: 20pt;
}
.button:hover, #cancelBtn:hover,#acceptBtn:hover {
     //-fx-background-color: #0099CC;
     -fx-background-color: linear-gradient(rgb(10,52,88),rgb(18,97,160));
}
#titleUMap {
    -fx-font-size: 40pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: rgb(230,230,255);
    //-fx-border-color: whitesmoke;
   // -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 2 );
    
}

#cancelBtn,#acceptBtn {
    //-fx-padding: 5 22 5 22;   
   // -fx-border-color: #0000cc;
   // -fx-border-width: 0 0 1 0;
   // -fx-background-color: #ff0000;
   // -fx-text-fill: #000000;
   // -fx-font-size: 15pt;
    -fx-text-fill: #ffffff;
    //-fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(rgb(10,54,90), rgb(3,19,34));
}